* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(152, 152, 152);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

body {
}

.header_main {
    background-color: white;
    /* border-bottom: 1px solid grey ; */
    box-shadow: 0px 0px 7px 2px #999999;
    z-index: 3;
    position: relative;
}


.header_main .navbar-content a {
    color: black;
    font-size: 18px;
    font-weight: 500;
}


.header_main .navbar-content .service {
    padding: 0;
}

.header_main .account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_main .account .admin-text {
    display: flex;
    flex-direction: column;
}

.header_main .account .admin-text p{
    margin: 0;
    text-align: start;
    margin-left: 7px;
}

 .bell {
    text-align: center;
}


.body-main .left-bar {
    background-color: white;
    min-height: 100vh;
    box-shadow: 0 4px 2px -2px gray;
    padding: 0;
}


.body-main .left-bar .service .list-service {
    list-style-type: none;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.body-main .left-bar .service .list-service a{
    color: black;
    line-height: 57px;
    padding-left: 20px;
}

.body-main .left-bar .service .list-service a:nth-child(2) {
    background-color: #f7dad9;
    box-shadow: 0 4px 5px -2px gray;
}

.body-main a:hover {
    text-decoration: none;
    background-color: #f7dad9;
    box-shadow: 0 4px 5px -2px gray;
}


.body-main .right-bar {
    background-color: #f2f6fa;
}

.body-main .right-bar .info {
    margin-top: 50px;
    color: #929293;
    font-size: 17px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

.body-main .right-bar .info p:last-child {
    font-weight: 900;
    color: #ff6b6b;
    padding: 0;
}

.body-main .right-bar .info span {
    padding: 7px;
}

.body-main .right-bar .control-add-user {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px;
}

.body-main .right-bar .add-user {
    /* margin: 0 30px; */
    text-align: end;
    width: 163px;

}

 .add-user:active {
    transform: scale(0.93);
}


.body-main .right-bar .add-user input {
    padding: 4px 40px;
    background-color: #ff6b6b;
    border: none;
    color: white;
    font-weight: 900;
}

.body-main .right-bar .user-list {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 15px;
    /* position: relative; */
    margin-left: 30px;
    margin-right: 30px;
}


.body-main .right-bar .user-list input[type='text'] {
    width: 250px;
    padding: 0 20px;
    border-radius: 7px;
    padding: 3px;
    background-color: #f2f6fa;
    border: none;
    
}

.body-main .right-bar .user-list input[type='submit'] {
    right: 20px;
    border: none;
    padding: 3px;
    background-color: #f2f6fa;
}

.body-main .right-bar .user-list input[type='submit']:hover {
    background-color: #ff6b6b;
    color: white;

}

.body-main .right-bar .user-list input[type='submit']:active {
    transform: scale(0.93);
}



/* .body-main .right-bar .user-list input:focus {
    padding-left: 35px;
} */

/* .body-main .right-bar .user-list input::placeholder {
    padding-left: 35px;
} */



.body-main .right-bar .user-list p {
    margin: 0;
    font-weight: 900;
    
}

.body-main .right-bar .user-list i {
    position: absolute;
    right: 290px;
    z-index: 1;
}

.list-info {
    margin: 0 30px;
}

.list-info input[type='text'] {
    border: none;
}

table {
    width: 100%;
    border: none;
}

.table td {
    padding: 20px 10px;
}

tr:first-child {
    color: #898a8a;
    font-weight: 900;
}

.action {
    display: flex;
    justify-content: space-between;
}

.action .update input{
    padding: 0 15px;
    border: none;
    color: #31c6cf;
    background-color: #f2f6fa;
    font-weight: 900;

}
.action .delete input{
    padding: 0 15px;
    border: none;
    color: #f58888;
    background-color: #f2f6fa;
    font-weight: 900;

}

.action .update:active {
    transform: scale(0.93);
}

.action .delete:active {
    transform: scale(0.93);
}







