* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(152, 152, 152);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}


.header_main {
    background-color: white;
    /* border-bottom: 1px solid grey ; */
    box-shadow: 0px 0px 7px 2px #999999;
    z-index: 3;
    position: relative;
}


.header_main .navbar-content a {
    color: black;
    font-size: 18px;
    font-weight: 500;
}


.header_main .navbar-content .service {
    padding: 0;
}

.header_main .account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_main .account .admin-text {
    display: flex;
    flex-direction: column;
}

.header_main .account .admin-text p{
    margin: 0;
    text-align: start;
    margin-left: 7px;
}

.header_main .account .admin-text p:first-child{
    font-weight: bold;
}

 .bell {
    text-align: center;
}

.body-main .left-bar a:hover {
    text-decoration: none;
    background-color: #f7dad9;
    box-shadow: 0 4px 5px -2px gray;
}

.body-main .left-bar {
    background-color: white;
    min-height: 100vh;
    box-shadow: 0 4px 2px -2px gray;
    padding: 0;
}

.body-main .left-bar .service .list-service {
    list-style-type: none;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}



.body-main .left-bar .service .list-service a{
    color: black;
    line-height: 57px;
    padding-left: 20px;
}

.body-main .left-bar .service .list-service a:first-child {
    background-color: #f7dad9;
    box-shadow: 0 4px 5px -2px gray;
}


.body-main .right-bar .info {
    margin-top: 50px;
    color: #929293;
    font-size: 17px;
    font-weight: bold;
    margin-left: 30px;
}

.body-main .right-bar .user-list {
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.right-bar .user-list .user-list-table td{
    padding: 10px 20px;
}


.right-bar .user-list .user-list-table td a {
    color: #ff8585;
}

.right-bar .user-list .user-list-table td input {
    width: 250px;
    padding-left: 5px;
}


.right-bar .user-list .user-list-table td input[type='submit']{
    border: none;
    padding: 3px;
    width: 100px;
    background-color: #f7dad9;
}

.right-bar .user-list .user-list-table td input[type='submit']:hover {
    background-color: #ff8581;
}

.right-bar .user-list .user-list-table .password td input{
    width: 230px;
    border: none;
}





