* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Signika Negative', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(152, 152, 152);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}


#header {
    height: 30px;
    background-color: #f5f5f5;
    width: 100%;

}

#header #header-content {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0;
}

#header #header-content p {
    margin: 0;
}

#header #header-content .phone {
    flex: 1;
    padding-left: 30px;
}

#header #header-content .signal {
    font-style: oblique;
}

#header #header-content .mail {
    /* flex: 5; */
}

body {}

.header_main {
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}


.header_main .navbar-content ul li {
    padding: 0px 10px;
}

.header_main .navbar-content a {
    color: black;
    font-size: 20px;
    font-weight: 500;
}


.header_main .navbar-content .navbar {
    padding: 0;
}

.header_main .navbar-content .service {
    padding: 0;
}

.header_main .navbar-content .service ul {
    margin: 0 auto;
}

.header_main .right-nav {
    align-items: center;
    text-align: center;
    width: 100%;
    display: inline-flex;
}

.header_main .cart {
    justify-content: flex-end;
    padding: 0;
}

.header_main .account {
    justify-content: flex-end;
}

.header_main .account .dropdown-menu .dropdown-item:hover {
    background-color: #ec9f9f;
}

.header_main .form-inline {
    justify-content: flex-end;
}

.nav-item {
    position: relative;
}



.service .navbar-nav li a::before {
    content: "";
    background-color: #ec9f9f;
    position: absolute;
    left: 7px;
    bottom: 0;
    height: 4px;
    width: 0;
    transition: 0.2s ease;
}

.service .navbar-nav li a:hover::before {
    content: "";
    background-color: #ec9f9f;
    position: absolute;
    left: 7px;
    bottom: 0;
    height: 4px;
    width: 91%;
}


a:hover {
    text-decoration: none;
}

/* body */

.body .banner {
    position: relative;
}

.body .banner-img {
    min-height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('../img/banner/banner1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .banner-img .banner-img-text {
    position: absolute;
    color: white;
    line-height: px;
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 100px;
}

.body .banner-img .banner-img-text a {
    transition: .2s;
}

.body .banner-img .banner-img-text a:active {
    transform: scale(0.93);
}

.body .banner-img .banner-img-text h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.body .banner-img .banner-img-text p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 300;
}

.body .banner-img .banner-img-text a {
    margin-top: 30px;
    font-weight: 300;
}

.body .banner-img .banner-img-text span {
    font-family: 'Josefin Sans', sans-serif;
    border: 2px solid white;
    padding: 10px 40px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.body .banner-img .banner-img-text a:hover {
    text-decoration: none;
}


.body .banner-img .banner-img-text a span:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}


.intro-product .hot-product {
    display: flex;
    justify-content: space-evenly;
}

.intro-product .product {
    position: relative;
    width: 100%;
    margin: 20px;
    min-height: 400px;
    overflow: hidden;
    margin: 20px 6px;
}


.product .child {
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.8s;
}

.product .product-img-left {
    background-image: url('../img/hot/Same-Day-Florist.webp');
}

.product .product-img-center {
    background-image: url('../img/hot/At-Anniversaries.webp');
}

.product .product-img-right {
    background-image: url('../img/hot/for-birthday.webp');
}

.product:hover .child {
    transform: scale(1.2);
}

.product-text {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 10%;
}

.product-text p:first-child {
    color: #8b8b8c;
    font-size: 18px;
}

.product-text p:nth-child(2) {
    font-size: 30px;
}

.product-text p:nth-child(3) {
    font-size: 18px;
    font-weight: 600;
}

.product-text span {
    color: red;
}

.product-text input {
    margin-top: 100px;
    border: 2px solid #eaeaea;
    background-color: white;
    padding: 10px 20px;
    border: none;
    transition: transform 0.2s;
}

.product-text input:active {
    transform: scale(0.9);
}

.process {
    width: 99%;
    margin: 60px auto;
}

.process .process-list {
    display: flex;
    justify-content: space-evenly;
}

.process .process-list .process-object {
    text-align: center;
    padding: 15px;
    width: 25%;
    margin: 20px 0;
}

.process .process-list .process-object i {
    margin-bottom: 25px;
}

.process .process-list .process-object p:nth-child(2) {
    font-size: 26px;
}

.process .process-list .process-object p:last-child {
    font-size: 16px;
    color: #757575;

}


.best-seller {
    margin: 100px auto;
    width: 90%;
}

.best-seller-title {
    margin: 0 auto;
    text-align: center;
    width: 48%;
}

.best-seller .best-seller-title h1 {
    font-weight: 900;
}


.best-seller .best-seller-title p {
    font-size: 16px;
}

.best-seller .best-seller-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 55px;
}

.best-seller-product-list {
    position: relative;
    width: 20%;
    margin: 20px;
    min-height: 450px;
    overflow: hidden;
    margin: 20px 6px;
}

.best-seller-product-list .child {
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.8s;
    position: relative;
}

.best-seller-product-object-one {
    background-image: url('../img/best-seller/Autumn-basket.webp');
}

.best-seller-product-object-two {
    background-image: url('../img/best-seller/Autumn-basket.webp');
}

.best-seller-product-object-three {
    background-image: url('../img/best-seller/Baby-Boy-Perfect-Gift.webp');
}

.best-seller-product-object-four {
    background-image: url('../img/best-seller/Heavenly-Red-Rose-Hand-Tied.webp');
}

.best-seller-product-object-five {
    background-image: url('../img/best-seller/Baby-Boy-Perfect-Gift.webp');

}

.best-seller-product-object-six {
    background-image: url('../img/best-seller/Vera-Wang-Purest-Grace.webp');
}

.best-seller-product-object-seven {
    background-image: url('../img/best-seller/Grand-Prix-Rose-Hand-Tied.webp');

}

.best-seller-product-object-eight {
    background-image: url('../img/best-seller/Autumn-basket.webp');
}

.best-seller-product-list:hover .child {
    transform: scale(1.1);
}

.best-seller-product-list .hot-sale {
    position: absolute;
    top: 20px;
    background-color: #e55472;
    color: white;
    padding: 0 10px;
    z-index: 7;
}

.best-seller-product-list .add-to-cart {
    position: absolute;
    width: 100%;
    bottom: 20px;
    color: black;
    padding: 5px 0;

}

.best-seller-product .best-seller-product-list form {
    position: absolute;
    z-index: 3;
    width: 100%;
    text-align: center;
}


p {
    margin: 0;
}


.best-add-to-cart {
    width: 100%;
    height: 400px;
    top: 0;
    left: -100%;
    top: -200%;
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    z-index: -1;
    border: none;
    outline: none;
}

.best-add-to-cart input {
    border: none !important;
    background-color: transparent;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.best-add-to-cart .cart-service {
    display: flex;
    position: absolute;
    bottom: -90px;
    width: 100%;
     background-color: rgba(0, 0, 0, 0.4); 
    background-color: #666666;
    height: 40px;
}

.best-add-to-cart .cart-service button {
    text-align: center;
    border: none;
    border-right: 1px solid #767676;
    background-color: transparent;
    width: 90px;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.best-add-to-cart .cart-service button:last-child {
    border: none;
    border-left: 1px solid #767676;
    background-color: transparent;
    width: 90px;
    text-align: center;
    outline: none;
}



.best-seller-product-list:hover .best-add-to-cart {
    left: 0;
}

.best-seller-product-list:hover .best-add-to-cart input {
    width: 100%;
    padding: 5px 0;
    transition: transform .2s;
}

.best-seller-product-list:hover .best-add-to-cart input:hover {
    background-color: #e55472;
    color: white;
}

.best-seller-product-list:hover .best-add-to-cart button:hover {
    background-color: #e55472;
    color: white;
}

.best-seller-product-list:hover .best-add-to-cart input:active {
    transform: scale(0.93);
}


.best-text {
    position: relative;
    top: 400px;
}

.best-text p:first-child {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.best-text p:last-child {
    font-size: 18px;
    color: #757575;
    font-weight: 500;
}

/* End body  */



/* behind footer  */
.subcribe-img {
    min-height: 500px;
    background-image: url("../img/banner/email-banner.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.subcribe-img-object {
    width: 600px;
    min-height: 350px;
    background-color: rgba(255, 255, 255, 0.65);
    margin-left: 40%;
    border: 4px solid white;
    padding: 40px;

}

.subcribe-search {
    margin-top: 50px;
}

.subcribe-img-text h1 {
    font-family: 'Josefin Sans', sans-serif;

}

.subcribe-img-text p {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
}

.subcribe-search button {
    width: 15%;
    background-color: #ec9f9f;
    padding: 5px;
    border: none;
}

.subcribe-search button i:hover {
    color: white;
}


.subcribe-search input {
    padding: 5px;
    border: 2px solid #e6e6e6;
    width: 70%;
    margin-right: 15px;
}



/* footer  */

.footer {
    background-color: #ffe2e2;
    color: black;
    padding: 20px 0;
}

.footer .icon {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.fa-solid {
    padding-right: 6px;
}

.footer .icon img {
    width: 35px;
}

.footer h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.footer ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.8;
    margin-left: 20px;
    list-style-type: none;
    margin: 0;
}

.footer_bottom {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}