* {
    font-family: 'Josefin Sans', sans-serif;

}


.outline {
    background-color: #f5f5f5;
}

.payment-body {
    width: 573px;
    min-height: 100px;
    margin: 0 auto;
    padding: 50px 0;
}

.payment-container {
    border: 2px solid #5D9C59;
    position: relative;
    background-color: white;
}

.payment-in4 {
    padding: 0 30px;
    line-height: 40px;
}

.payment-in4 tr td {
    position: absolute;
    right: 30px;
}

.payment-in4 table .amout {
    color: #5D9C59;
    font-weight: bold;
}

.payment-details {
    padding: 0 30px;  
    line-height: 40px;
}


.payment-details tr td {
    position: absolute;
    right: 30px;
}

.pay-header {
    text-align: center;
    background-color: #5D9C59;
    padding: 10px;
}

.pay-header h5 {
    color: #fff;
    margin-bottom: 0;
}

.pay-img {
    text-align: center;
    margin-top: 10px;
}

.pay-img h4 {
    margin-top: 10px;
}

.break {
    margin: 10px auto;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.break .line {
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
    flex: 1;
}

.break span {
    color: #ccc;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 18px;
}

.thanks {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.payment-footer {
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.payment-footer p:first-child a:hover{
    text-decoration: underline;

}

.payment-footer p:last-child, .payment-footer p:last-child a {
    color: #757575;
}