* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(152, 152, 152);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

body {
    background-image: url('../img/banner/banner1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.header_main .navbar-content ul li {
    padding: 0px 10px;
}

.header_main .navbar-content a {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}


.header_main .navbar-content .navbar {
    padding: 0;
}

.header_main .navbar-content .service {
    padding: 0;
}

.header_main .navbar-content .service ul {
    margin: 0 auto;
}

.header_main .right-nav {
    align-items: center;
    text-align: center;
}

.header_main .cart {
    /* display: flex; */
    justify-content: flex-end;
    padding: 0;
}

.header_main .account {
    /* text-align: center; */
    justify-content: flex-end;
}

.header_main  .form-inline{
    justify-content: flex-end;
}


.outline {
    width: 100%;
    /*min-height: 800px;*/
    display: flex;
    align-items: center;
}

.outline .background-url {
    min-width: 800px;
    min-height: 590px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.18);
}




.outline .background-url .login-container {
    background-color: white;
    min-width: 400px;
    min-height: 590px;
    text-align: center;
    padding: 20px;
    right: 0;
    z-index: 2;
}


.outline .background-url .header {
    color: black;
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.outline .background-url form:first-child {
    position: relative;
    top: 20px;
}

input {
    width: 90%;
    padding: 5px;
    border-color: rgba(0, 0, 0, 0.18);
    border: 1px solid;
    text-align: start;
    outline: none;
}

.login-container input[type="text"] {
    margin-bottom: 18px;
}


.inputBox-signup {
    height: 60px;
}


input[type="submit"] {
    margin-bottom: 22px;
    border: none;
    cursor: pointer;
    padding: 8px;
    background-color: #FF9494;
    color: white;
    font-weight: bold;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #ff8484;
}


.outline .background-url .login-type {
    display:flex;
    flex-direction: column;
    gap: 5px;
}


.outline .background-url .login-type p {
    width: 90%;
    margin: 0 auto;
    text-align: start;
    color: red;
    /* font-weight: bold; */
    /* font-size: 18px; */
}




.background-url .login-container .login-type .password-input input {
    margin-bottom: 0;
}

.background-url .user {
    position: absolute;
}

.background-url .user i {
    width: 2px;
    position: relative;
    right: 25px;
    top: 6px;
}

.background-url .password-input .eye {
    position: absolute;
}

.background-url .password-input i {
    width: 2px;
    position: relative;
    right: 25px;
    top: 6px;
}

.background-url .password-input i:hover {
    cursor: pointer;
    opacity: 0.8;
}

.background-url .login-container .login-function {
    font-size: 15px;
    width: 90%;
    margin-left: 16px;
    margin-bottom: 24px;
    padding-top: 5px;
    list-style-type: none;
    height: 40px;
}

.background-url .mess-error {
    color: red;
    text-align: left;
}

.background-url .login-container .login-function a {
    text-decoration: none;
    color: black;
    float: right;
    font-size: 15px;
}

.background-url .login-container .login-function a:hover {
    text-decoration: underline;
    color: #1a73e8;
} 


.background-url .login-container .login-function span {
    font-size: 16px;
    float: left;
}

input[type='checkbox'] {
    width: 13px;
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.background-url .login-success {
    margin-top: 10px;
}


.background-url .login-success input {
    width: 90%;
    padding: 5px;
    letter-spacing: 1px;
}

.register-container .login-success {
    position: relative;
    bottom: -40px;
}

.background-url .login-container .login-success span {
    font-weight: bold;
}

.outline .background-url .register-container {
    background-color: white;
    min-width: 400px;
    min-height: 590px;
    text-align: center;
    padding: 20px;
    left: 0;
    z-index: 0;
}

.outline .background-url .register-container .inputBox {
    /* margin-bottom: 7px; */
}

.capcha {
    margin-left: 20px;
    height:40px;

}

.form-container {
    position: absolute;
}

.form-container form {
    top: 50px;
}

.overlay-container {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
}


.test {
    background-image: url(../img/banner/hm-flower-bg-1.webp);
    z-index: 20;
    position: absolute;
}

.login-container .other-signin {
    border: 1px solid rgba(0, 0, 0, 0.26);
    width: 60%;
    margin: 0 auto;
    padding: 2px;
}

.login-container .other-signin li {
    color: #000000;
    font-weight: 550;
}

.login-container .other-signin li i {
    font-size: 22px;
}

.login-container .other-signin:hover {
    background-color: rgba(235, 235, 235, 0.932);
}

.login-container .other-signin a:hover {
    text-decoration: none;
}

.login-container .other-signin{}

.login-container .other-signin li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    font-size: 17px;
}



.other-login-icon .or-login {
    margin: 10px auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    pointer-events: none;
    width: 80%;

}

.other-login-icon .or-login .line {
    height: 1px;
    background-color: #ccc;
    flex: 1;
}

.other-login-icon .or-login span {
    color: #757575;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: .75rem;
}

.login-container .other-login-icon {
    line-height: 10px; 
    padding: 0; 
    margin: 0;
    font-weight: 900;
}

.login-container .other-login-icon p {
    color: black;
    font-weight: 900;
}


.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    /* width: 100%; */
}




.pop-up {
    padding: 20px;
    width: 600px;
    min-height: 350px;
    background-color: white;
    /* border-radius: 10px; */
    position: fixed;
    text-align: center;
    margin: auto;    
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    z-index: 999;
    animation: fadeIn ease-in 0.2s;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pop-up h2{
    margin-top: 20px;
}

.pop-up a {
    text-decoration: none;
    float: right;
    /* margin: 10px 10px 10px 0; */
    position: absolute;
    /* background-color: rgb(240,237,212); */
    right: 0;
    top: 0;
}


.pop-up a i {
    color: black;

    background-color: rgb(240,237,212);
    font-size: 28px;


}


.pop-up p {
    width: 90%;
    margin: 0 auto;
    text-align: start;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}



.inputBox {
    position: relative;
}

.inputBox-signup p.mess-error {
    font-size: 15px;
}


.inputBox input {
    width: 90%;
    padding: 7px;
    border-radius: 0px;
    text-align: start;
}


.inputBox span {
    position: absolute;
    left: 20px;
    padding: 8px;
    transition: 0.4s;
    pointer-events: none;
    color: #838383;
}


.inputBox input:valid ~ span, .inputBox input:focus ~ span {
    color: rgb(0, 140, 255);
    background: white;
    font-size: 13px;
    padding: 0 3px;
    transform: translateX(3px) translateY(-8px);
}


.inputBoxx span {
    position: absolute;
    left: 40px;
    /* padding: px; */
    pointer-events: none;
    color: rgb(0, 140, 255);
    background: white;
    font-size: 13px;
    padding: 0 2px;
    transform: translateX(3px) translateY(-8px);

}
.inputBoxx input {
    border: 1px solid rgb(0, 140, 255);
    padding: 8px;

}


.inputBox input:active {
    /* border: 1px solid rgb(0, 140, 255); */
}

.inputBox input:valid, 
.inputBox input:focus {
    border: 1px solid rgb(0, 140, 255);
}

/* slide box */
.slide-box{
    width: 50%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(to right, #ff6b6b, #e48484);
    z-index: 999;
    top:0px;
    transition: ease-in-out .8s;

}
.slide-box.right{
    left: 50%;
    right: 0;
}


.slide-box h2{
    margin: 40% 20px 20px 20px ;
    font-size: 32px;
    text-align: center;
    color: white;
    font-weight: bold;

}

.slide-box p {
    margin: 0 32px;
    text-align: center;
    color: white;
}

.slide-box p:first-child {
    font-size: 18px;
}

.slide-box p:last-child {
    margin-top: 80px;
    font-size: 15px;
}

.slide-box button{
    margin-top: 30px;
    align-self: center;
    width: fit-content;
    background: transparent;
    color: white;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
    font-size: 18px;
    outline: none;
}
.slide-box button:hover{
    letter-spacing: 2px;
}





